.modal {
  /* width: 30%; */
  /* max-width: 30vw;  */
  max-width: none;
}

div.fade.in.modal {
  display: flex;
}

.modal-dialog {
  margin: auto;
}

.modal-title {
  justify-content: center;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
  opacity: 0;
  filter: alpha(opacity=50);
  display: flex;
}
.modal-dialog {
  max-width: 850px;
  margin: 2rem auto;
}
